.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-dark);
  color: var(--gray-900);

  padding: 1rem 8rem; /* altura e largura equilibradas */
  border-radius: 0.75rem;

  border: none;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}
